---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=119%20Cuba%20Street,%20Te%20Aro,%20Wellington%206011&key=google_api_key&mode=walking&origins=60/66%20Kingsford%20Smith%20Street,%20Lyall%20Bay,%20Wellington%206022&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "119 Cuba Street, Te Aro, Wellington 6011, New Zealand" ],
           "origin_addresses" : [
              "60/66 Kingsford Smith Street, Rongotai, Wellington 6022, New Zealand"
           ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "3.5 mi",
                          "value" : 5571
                       },
                       "duration" : {
                          "text" : "1 hour 10 mins",
                          "value" : 4226
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 08 Aug 2021 01:01:41 GMT
recorded_with: VCR 6.0.0
