---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=119%20Cuba%20Street,%20Te%20Aro,%20Wellington%206011&key=google_api_key&mode=walking&origins=&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [],
           "origin_addresses" : [],
           "rows" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Thu, 15 Jul 2021 01:39:18 GMT
recorded_with: VCR 6.0.0
