---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Saturn,%20Outer%20Space&key=google_api_key&mode=walking&origins=Mars,%20Outer%20Space&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "1 Tranquility Base, Huntsville, AL 35805, USA" ],
           "origin_addresses" : [ "" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "status" : "NOT_FOUND"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 15 Jul 2021 02:48:57 GMT
recorded_with: VCR 6.0.0
