---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=2001%20Blake%20St,%20Denver,%20CO%2080205&key=google_api_key&mode=walking&origins=1700%20Wewatta%20Street%20Denver%20CO&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "2001 Blake St, Denver, CO 80205, USA" ],
           "origin_addresses" : [ "1700 Wewatta St, Denver, CO 80202, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "0.6 mi",
                          "value" : 977
                       },
                       "duration" : {
                          "text" : "13 mins",
                          "value" : 794
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 11 Jul 2021 20:07:50 GMT
recorded_with: VCR 6.0.0
